bouwportaal_orders_column_mapping = {
    OLD_COLUMN_NAME1: new_column_name1,
    OLD_COLUMN_NAME2: new_column_name2,
    OLD_COLUMN_NAME3: new_column_name3,
    ...
}

upload_config = {
    "bouwportaal_orders": {
        "name": "Xxxx xxx",
        "path": "/xxxxx",
        "database_table": '',
        "validator": "",
        "expected_number_of_sheets": 1,
        "columns": bouwportaal_orders_column_mapping
    }
}